#page-ophanages {
    height: 100%;
    width: 100%;

    display: flex;
}

aside {
    width: clamp(24rem, 25vw, 44rem);
    background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);
    padding: clamp(3rem, 5vw, 8rem);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside header {
    display: flex;
    flex-direction: column;
    
    
}

.header h1 {
     margin-top: 2.4rem;
    font-weight: 800;
    font-size: clamp(2rem, 5vw, 3.6rem);
    line-height: 1.1;
    font-family: 'Nunito', sans-serif;
}



aside p {
    margin-top: 2.4rem;

    
    font-weight: 400;
    font-size: clamp(1rem, 4vw, 1.9rem);
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
}

aside footer p {
    margin-top: .8rem;
}

a.create-orphanage {
    position: absolute;
    right: 5rem;
    bottom: 5.5rem;

    z-index: 10;

    width: 6.4rem;
    height: 6.4rem;
    background: #15c3d6;
    border: 0;
    border-radius: 2rem;

    display: flex;
    justify-content: center;

    align-items: center;

    transition: 200ms;
}

a.create-orphanage:hover {
    background: #17d6eb;
}

#mapid {
    height: 100%;
    width: 100%;
}

.leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 17.2828px 27.65px 41.48px rgba(23, 142, 166, 0.16);
    border-radius: 20px;
}

.leaflet-popup-content {
    color: rgba(23, 129, 150,0.8);
    font-size: 2rem;
    font-weight: 800;
    margin: .8rem 1.2rem;
    font-family: 'Nunito',sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leaflet-popup-content a {
    width: 4rem;
    height: 4rem;
    background: #15c3d6;
    box-shadow: 17.2828px 27.65px 41.48px rgba(23, 142, 166, 0.16);
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .2s;

}

.leaflet-popup-content a:hover {
    background: #17d6eb;
}

.leaflet-popup-tip {
    display: none;
}

.leaflet-container {
    z-index: 5;
}